button {
  color: #ffff80;
  background: none;
  cursor: pointer;
  font-size: 1em;
  outline: none;
  border: none;
  font-family: "Arial";
}

input {
  font-family: "Arial";
  border: none;
  text-align: right;
  font-size: 1.25em;
  width: 15%;
  background: none;
  color: white;
}

input:focus {
  outline: none;
}

p {   
  color: white;
  text-align: center;
  font-size: 1.5em;
   display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 170px;
    margin: auto;
}

span{
  font-size: 2em;
}

body {
  background: url(https://eloquentyoungpilgrims.files.wordpress.com/2011/10/robot_background.png) fixed center no-repeat;
  background-size: cover;
  width: 100%;
  font-family: "Arial";
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

  

