<!--  
Image from https://eloquentyoungpilgrims.files.wordpress.com/2011/10/robot_background.png
-->
<div class = "main" ng-app="myApp" ng-controller="myCtrl">
<body>
    <p class="time"> {{sessionType}} 
      <br>
      <span> {{timeLeft}}  </span>
      <br>
    <button ng-click='switchTimer()'> {{timerOption}} </button>
      <br>
    Break (minutes):
      <input type="number" ng-model="breakLength">
      <br>Session (minutes):
      <input type="number" ng-model="sessionLength"> </p>
  </body>
</div>
